@import url("https://fonts.googleapis.com/css?family=Karla|Ovo");

html, body {
  background-color: #F1ECCE;
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  background-color: #fff;
  width: 350px;
  max-width: 100%;
  height: 500px;
  text-align: center;
  transition: all 0.5s;
}
.card.expand {
  width: 100vw;
  height: 100vh;
}
.card .hole {
  background-color: #F1ECCE;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 15px;
}
.card .photo {
  /* border-radius: 50%; */
  width: 125px;
  height: 125px;
  /* overflow: hidden; */
  display: inline-block;
  position: relative;
}
.card .photo img {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  opacity: 0.75;
}
.text {
  margin: 0 15px;
}
p {
  font-family: 'Ovo', serif;
  color: #757B82;
  line-height: 22px;
}
p.name {
  font-size: 150%;
}
p a {
  color: #605E60;
}

.about-btn {
  border: 1px solid rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.5);
  border-radius: 6px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 25px;
  font-family: 'Karla', sans-serif;
  transition: all 0.2s;
}
.about-btn:hover {
  border-color: #4D92BC;
  color: #4D92BC;
}

.icons {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: inline-block;
}
.icons a {
  position: relative;
  background-color: #fff;
  color: #333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid grey; */

  display: inline-block;
  margin: 0 15px;
  font-size: 24px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.icons a:hover {
  /* background-color: #333; */
  color: #4D92BC;
}
.icons a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.more {
  display: none;
}
